* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#canva {
    width: 800px;
    height: 650px;
    background-color:#2E3436;
    border-radius: 5%;
    box-shadow: #000000 0px 0px 20px;
        /* Indicate the element draggable */
        cursor: move;

        /* It will be positioned absolutely */
        position: absolute;
}

